---
import FormattedDate from "./FormattedDate.astro";
import type { Post } from "../types";

interface Props {
  post: Post | { data: Post };
}

const { post } = Astro.props;

// Handles data from both Astro's getCollection (in post.data) and our custom service (at root)
const postData = "data" in post ? post.data : post;
const slug = "slug" in post ? post.slug : postData.slug;
---

<div class="bg-white shadow overflow-hidden sm:rounded-md p-4">
  <a href={`/posts/${slug}`} class="block hover:bg-gray-50 -m-4 p-4">
    <p class="text-xl font-medium text-indigo-600 truncate">{postData.title}</p>
    {
      postData.excerpt && (
        <p class="mt-2 text-sm text-gray-600">{postData.excerpt}</p>
      )
    }
    <div class="text-sm text-gray-500 mt-2">
      <FormattedDate date={postData.publishedAt} />
    </div>
  </a>
</div>
